extends layout

block content
    body#myPage(data-spy='scroll', data-target='.navbar', data-offset='60')
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
            a.px-3.navbar-brand(href='/') N2C Entertainment
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#myNavbar', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.ml-auto
                    li.nav-item
                        a(href='#about').nav-link About
                    li.nav-item
                        a(href='#services').nav-link Services
                    li.nav-item
                        a(href='#portfolio').nav-link Album
                    li.nav-item
                        a(href='#pricing').nav-link Prices
                    li.nav-item
                        a(href='#contact').nav-link Contact
                    li.nav-item
                        a(href='/gamelist').nav-link Games List
    .jumbotron.text-center
        br
        img.img-fluid(src='/images/edited_logo.png')
        br
        br
        br
        h1 N2C Entertainment
        br
        br
        p We specialize in your firsthand experience.
        br
        br
        br
        br
        a.explore-more(href='#about')
            img.img-fluid(src='/images/icon/explore-more.svg', style='height: 50px')
    // Container (About Section)
    #about.container-fluid.bg-grey
        .row
            .col-sm-4
                i.fas.fa-chess.logo.slideanim
            .col-sm-8
                h2 About N2C
                br
                h4
                    | N2C entertainment, unlike a typical internet cafe, is providing a holistic forum for
                    | communication and entertainment through the medium of the Internet and other recreational
                    | facilities. Sitting in 500+ m2 space, N2C entertainment brings in the most advanced computers,
                    | visual reality equipment, table games, dart machines and other facilities to accommodate
                    | various demands of our customers. Exclusive game server and customized services will bring
                    | you the most extreme entertainment experience. To meet the inquiry of our dear customers, we
                    | also provide all kinds of snacks and drinks, with an aim to set up on-site kitchen to satisfy your stomach.
    .row.container-fluid.bg-grey
        .col-sm-8
            h2 Our Vision
            br
            h4 To provide the best services and enjoyment.
            br
        .col-sm-4
            img#dev1_img.slideanim.img-fluid(src="/images/color_logo.png")

    // Container (Services Section)
    #services.container.container-fluid.text-center
        h2 服务范围
        h3 Service
        #test.project-section.slideanim
            .row
                .col-lg-4.col-md-12.col-sm-12
                    .projects-block-one
                        .inner-box
                            img.img-fluid(src='/images/gallery/1.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a(href='/service#game')
                                        p Internet Cafe

                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            img.img-fluid(src='/images/gallery/2.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#mahjong')
                                        p Automatic Mahjong
                    .projects-block-one
                        .inner-box
                            img.img-fluid(src='/images/gallery/3.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#boardgame')
                                        p Board Games
                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            img.img-fluid(src='/images/gallery/4.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#drinks')
                                        p Selected Foods
                    .projects-block-one
                        .inner-box
                            img.img-fluid(src='/images/gallery/5.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#PChardware')
                                        p Computer Parts

            br
            br
            .row.slideanim
                .col-sm-4
                    i.fas.fa-print.logo-small
                    h4 PRINT & SCAN
                .col-sm-4
                    i.fas.fa-server.logo-small
                    h4 GAME SERVER
                .col-sm-4
                    i.fas.fa-film.logo-small
                    h4 FREE MOVIES


    // Container (Portfolio Section)
    #portfolio.container-fluid.text-center.bg-grey
        h2 Album
        br
        .storeview
            img.pic1.img-fluid(src='/images/storeview/1.jpg')
            img.pic2.img-fluid.slideanim(src='/images/storeview/2.jpg')
            img.pic3.img-fluid(src='/images/storeview/3.jpg')
            img.pic4.img-fluid(src='/images/storeview/4.JPG')
            img.pic5.img-fluid(src='/images/storeview/5.JPG')
            img.pic6.img-fluid(src='/images/storeview/6.JPG')
            img.pic7.img-fluid(src='/images/storeview/7.jpg')
            img.pic8.img-fluid(src='/images/storeview/8.JPG')
            img.pic9.img-fluid(src='/images/storeview/9.jpg')
            img.pic10.img-fluid(src='/images/storeview/10.JPG')

    #pricing.container.container-fluid
        .text-center
            h2 PRICES
            br
            br
            h4 Join us as a member of N2C today, you will be eligible for up to $50 bonus credits in your membership account.*
            br

        .row
            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 Mahjong
                    .panel-body
                        h4
                            br
                            strong We offer multiple choices and membership discount:
                            br
                            br
                            | Pay as you go
                            br
                            br
                            | $9.99/Hour Everyday Before 3 PM
                            br
                            br
                            | Night Pass*
                            br
                            br
                            br

                    .panel-footer
                        h3 Mahjong
                        h3 Low Price $9.99/Hour
            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 Internet
                    .panel-body
                        h4
                            br
                            strong We offer multiple choices and membership discount:
                            br
                            br
                            | Pay as you go
                            br
                            br
                            | 3/5/8 Hours Pass
                            br
                            br
                            | Night Pass
                            br
                            br
                            br

                    .panel-footer
                        h3 Gaming
                        h3 Low Price $3/Hour

            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 Boardgames
                    .panel-body
                        h4
                            br
                            strong We offer multiple choices and discount:
                            br
                            br
                            | Flat rate $15/Person for Wolves
                            br
                            br
                            | From $20/Person Flat Rate for Role Play Games
                            br
                            br
                            | Advance Booking ONLY
                            br
                            br
                    .panel-footer
                        h3 Boardgames
                        h3 Low Price $15/Person

        .row
            .col-12.text-center
                br
                button.myButton(type='button', data-toggle='modal', data-target='#exampleModal') FULL PRICE TABLE
                br
                br
                p *Conditions apply, please check with our staff for details

         // Price table modal
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body
                    img.img-fluid(src='price.jpg')

            br
    // Container (Contact Section)
    #contact.container.container-fluid
        h2.text-center Contact
        .col-sm-12.col-xs-12
            h3.text-center N2C Box Hill
            br
            .row
                .col-sm-6.col-lg-6.col-xs-12.text-center(style="padding: 0 50px;")
                    h3 N2C Entertainment
                    br
                    p
                        i.fas.fa-map-marker-alt
                        |  OF003 (OPPOSITE SIDE OF 13 BUS BAY), BOX HILL CENTRAL SOUTH
                    p
                        i.fas.fa-map-marker-alt
                        |  Take the lift next to Kitchen Republic to Level 1, outside the building on left
                    p
                        i.fas.fa-phone
                        |  (03) 88499126
                    p
                        i.fas.fa-at
                        |  info@n2c.net.au
                .col-lg-6.col-sm-6.col-xs-12(style="padding: 0 50px;")
                    #googleMap(style='height:250px;')
            br
            .row
                .col-sm
                    img.img-fluid(src='images/lujing.png')

    // Add Google Maps
    script.
        function myMap() {
            var shop = {lat: -37.819206, lng: 145.122971};
            var map = new google.maps.Map(document.getElementById("googleMap"), {center: shop, zoom: 17});
            var marker = new google.maps.Marker({
                position: shop,
                map: map
            });
        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBtb_7nSi3nKG-XgKZEsF4SWGejBbj4EIo&callback=myMap')


    script.
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a,.explore-more, footer a[href='#myPage']").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
                    // Store hash
                    var hash = this.hash;
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                        $(this).parent().addClass('active');
                    });
                } // End if
            });
            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 800) {
                        $(this).addClass("slide");
                    }
                });
            });
        });