extends layout

block content
        .text-center
            img(src='/images/dev1.png')
            br
            br

            h1 呀！出错了！
            h1= 'Error: ' + message
            h1= 'Code: ' + error.status
            a.no-underline(href='/')
                p
                |HOME
                |回到主页
            pre #{error.stack}
