extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
        a.px-3.navbar-brand(href='/') N2C Entertainment
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#myNavbar', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
                li.nav-item
                    a(href='/en#about').nav-link About
                li.nav-item
                    a(href='/en#services').nav-link Services
                li.nav-item
                    a(href='/en#portfolio').nav-link Album
                li.nav-item
                    a(href='/en#pricing').nav-link Prices
                li.nav-item
                    a(href='/en#contact').nav-link Contact
                li.nav-item.active
                    a(href='/gamelist').nav-link Games List
    .jumbotron.text-center
        br
        br
        h1 N2C Entertainment Games List
        p #{error}
    .container-fluid.game_list
        .row
            .col-sm-6
                .form-group
                    input(type='text', placeholder="Search Games", id='mSearch', onkeyup='mSearchFunction()').form-control.search-input
        .table-responsive
            table(id='mSearchTable').table.table-striped
                thead
                    tr
                        th.game_list_first_col Games
                        th Platform
                        th Developer/Publisher
                tbody
                    for game in gamelist
                        tr
                            td.game_list_first_col #{game[0]}
                            td #{game[1]}
                            td #{game[2]}

        p *Please note that you may need your own account (eg. Steam, Battle.net) to play the games.


    script.
        function mSearchFunction() {
            var input, filter, table, content;
            input = document.getElementById('mSearch');
            filter = input.value.toUpperCase();
            table = document.getElementById('mSearchTable');

            for (var i = 1; i < table.rows.length; i++) {
                content = table.rows[i].cells[0];
                if (content.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    table.rows[i].style.display = "";
                } else {
                    table.rows[i].style.display = "none";
                }
            }
        }