extends layout

block content
    body#myPage(data-spy='scroll', data-target='.navbar', data-offset='60')

    nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#myPage') N2C Entertainment
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#about') 关于我们
                    li
                        a(href='#services') 服务范围
                    li
                        a(href='#storeview') 店内一隅
                    li
                        a(href='#pricing') 服务价格
                    li
                        a(href='#contact') 联系我们
                    li
                        a(href='/en') English Version
    .jumbotron.text-center
        br
        img.img-responsive(src='/images/edited_logo.png')
        br
        h1 N2C Entertainment
        br
        br
        br
        p We specialize in your firsthand experience.
        p 我们致力于给您绝无仅有的游戏体验
        br
        br
        br
        a.explore-more(href='#news')
            img.img-responsive(src='/images/icon/explore-more.svg', style='height: 50px')


    #news.container-fluid
        .row
            .col-sm-8
                h2 N2C 麻将限时特价活动
                h3 N2C Entertainment Mahjong Discount
                br
                h4.news_strong
                    | N2C 推出麻将优惠活动，每天3:00PM前，所有麻将低至$9.99/小时！！
                h4.news_strong
                    | Premium 会员福利，即日起享受充值$200送$200！！
                p
                    | Mahjong Special Everyday: Before 3:00PM, $9.99/Hour!!
                p
                    | Recharge $200 to get $200 bonus （Premium Members ONLY）!!
                br

            .col-sm-4
                img.img-responsive(src='/images/chunjie.jpg')

    #about.container-fluid.bg-grey
        .row
            .col-sm-4
                img.img-responsive(src='/images/color_logo.png')
            .col-sm-8
                h2 关于我们
                h3 About Us
                br
                h4
                    | 墨尔本第一家集网咖，桌游，麻将，餐饮于一体的娱乐中心 N2C Entertainment 坐落于墨尔本最大华人区 BOX HILL 的交通购物娱乐中枢 Box Hill Central。店铺面积超过500平米，这里有超高配的游戏设备，颜值爆表的帅哥美女，紧张激烈狼人杀比赛，领先潮流的VR体验专区，环境舒适的麻将包间。如果说还有什么不完美的地方，就是缺了你的加入！风里雨里，N2C 等你！
                p
                    | N2C entertainment, unlike a typical internet cafe, is providing a holistic forum for communication and entertainment through the medium of the Internet and other recreational facilities. Sitting in 500+ m2 space, N2C entertainment brings in the most advanced computers, visual reality equipment, table games, dart machines and other facilities to accommodate various demands of our customers. Exclusive game server and customized services will bring you the most extreme entertainment experience. To meet the inquiry of our dear customers, we also provide all kinds of snacks and drinks, with an aim to set up on-site kitchen to satisfy your stomach.


     // Container (Services Section)
    #services.container-fluid.text-center
        h2 服务范围
        h3 Service
        #test.project-section.sp-one.slideanim
            .row.isotope_block
                .col-lg-4.col-md-12.col-sm-12
                    .projects-block-one
                        .inner-box
                            .image
                                img.img-responsive(src='/images/gallery/1.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a(href='/service#game')
                                        p 游戏网咖
                                        p Internet Cafe

                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            .image
                                img.img-responsive(src='/images/gallery/2.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#mahjong')
                                        p 自动麻将
                                        p Automatic Mahjong

                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            .image
                                img.img-responsive(src='/images/gallery/3.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#boardgame')
                                        p 桌游空间
                                        p Board Games

                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            .image
                                img.img-responsive(src='/images/gallery/4.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#drinks')
                                        p 小吃饮料
                                        p Selected Foods

                .col-lg-4.col-md-6.col-sm-12
                    .projects-block-one
                        .inner-box
                            .image
                                img.img-responsive(src='/images/gallery/5.jpg', alt='')
                            .overlay-style-one
                                .link
                                    a.no-underline(href='service#PChardware')
                                        p 电脑定制
                                        p Computer Parts


        a.readmore.down.slideanim(id='readmore', data-toggle='collapse', data-target='#demo', role='button')
            |更多服务
            span.glyphicon.glyphicon-menu-down

        #demo.collapse
            br
            .row.slideanim
                .col-sm-3
                    span.glyphicon.glyphicon-print.logo-small
                    h4 打印扫描
                    p 方便快捷，价格优惠
                .col-sm-3
                    span.glyphicon.glyphicon-tasks.logo-small
                    h4 游戏私服
                    p 国内手游，极速体验
                .col-sm-3
                    span.glyphicon.glyphicon-calendar.logo-small
                    h4 游戏代练
                    p 专业团队，速度上分
                .col-sm-3
                    span.glyphicon.glyphicon-education.logo-small
                    h4 转学签证
                    p 中介代理，作业辅导
            br


    //storeview
    #storeview.container-fluid.text-center.bg-grey
        h2 店内一隅
        h3 Gallery
        br
        .row
            .col-lg-12.col-md-12.col-sm-12
                .storeview
                    img.pic1.img-responsive(src='/images/storeview/1.jpg')
                    img.pic2.img-responsive.slideanim(src='/images/storeview/2.jpg')
                    img.pic3.img-responsive(src='/images/storeview/3.jpg')
                    img.pic4.img-responsive(src='/images/storeview/4.JPG')
                    img.pic5.img-responsive(src='/images/storeview/5.JPG')
                    img.pic6.img-responsive(src='/images/storeview/6.JPG')
                    img.pic7.img-responsive(src='/images/storeview/7.jpg')
                    img.pic8.img-responsive(src='/images/storeview/8.JPG')
                    img.pic9.img-responsive(src='/images/storeview/9.jpg')
                    img.pic10.img-responsive(src='/images/storeview/10.JPG')


     // Container (Pricing Section)
    #pricing.container-fluid
        .text-center
            h2 服务价格
            h3 Price
            br
            h4 即日起加入我们会员俱乐部，享受充值优惠活动，赠送高达$50*
            h4 Join us as a member of N2C today, you will be eligible for up to $50 bonus credits in your membership account.*

        .row
            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 麻将
                        h3 Mahjong
                    .panel-body
                        h4
                            strong 我们提供多种价格和会员优惠:
                            br
                            strong We offer multiple choices and membership discount:
                            br
                            br
                            | 随用随付费
                            br
                            | Pay as you go
                            br
                            br
                            | 下午三点前限时优惠 $9.99/小时
                            br
                            | Before 3 PM : $9.99/Hour
                            br
                            br
                            | 包夜优惠套餐*
                            br
                            | Night Pass*
                            br
                            br
                    .panel-footer
                        h3 麻将
                        h3 Low Price $9.99/Hour
            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 网咖
                        h3 Internet
                    .panel-body
                        h4
                            strong 我们提供多种价格和会员优惠:
                            br
                            strong We offer multiple choices and membership discount:
                            br
                            br
                            |随用随付费
                            br
                            |Pay as you go
                            br
                            br
                            |3小时、5小时、8小时包时段
                            br
                            |3/5/8 Hours Pass
                            br
                            br
                            |包夜优惠套餐
                            br
                            |Night Pass
                            br
                            br
                    .panel-footer
                        h3 网吧
                        h3 Low Price $3/Hour

            .col-sm-4.col-xs-12.pricepanel
                .panel.panel-default.text-center
                    .panel-heading
                        h1 桌游
                        h3 Boardgames
                    .panel-body
                        h4
                            strong 我们提供多种价格和优惠:
                            br
                            strong We offer multiple choices and discount:
                            br
                            br
                            | $15/人 狼人杀
                            br
                            | Flat rate $15/Person
                            br
                            br
                            | $20/人起 剧本冒险
                            br
                            | Role Play Game from $20/Person
                            br
                            br
                            | 需提前预约
                            br
                            | Advanced Booking ONLY
                            br
                            br
                    .panel-footer
                        h3 桌游
                        h3 Low Price $15/Person

        .row.text-center
            button.myButton(type='button', data-toggle='modal', data-target='#exampleModal') FULL PRICE TABLE
            br
            br
            p *需要满足一定条件，请和我们的工作人员联系以获取更多信息
            p *Conditions apply, please check with our staff for details

     // Price table modal
    #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-body
                    img.img-responsive(src='price.jpg')


    // Container (Contact Section)
    #contact.row.container-fluid
        h2.text-center 联系我们
        h3.text-center Contact Us
        br
        br
        .row
            .col-sm-6.col-lg-6.col-xs-12.text-center(style="padding: 0 50px;")
                h3 N2C Entertainment
                br
                p
                    span.glyphicon.glyphicon-map-marker
                    |  OF003 (OPPOSITE SIDE OF 13 BUS BAY), BOX HILL CENTRAL SOUTH
                p
                    span.glyphicon.glyphicon-map-marker
                    |  大食代旁电梯(ANZ 银行对面商场入口左手边电梯)至Level 1出门看见13路BUS站左转
                p
                    span.glyphicon.glyphicon-phone
                    |  (03) 88499126
                p
                    span.glyphicon.glyphicon-envelope
                    |  info@n2c.net.au
            .col-lg-6.col-sm-6.col-xs-12(style="padding: 0 50px;")
                #googleMap(style='height:250px;')
        br
        .row
            .col-sm
                img.img-responsive(src='images/lujing.png')

    script.
        function myMap() {
            var shop = {lat: -37.819206, lng: 145.122971};
            var map = new google.maps.Map(document.getElementById("googleMap"), {center: shop, zoom: 17});
            var marker = new google.maps.Marker({
                position: shop,
                map: map
            });
        }
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBtb_7nSi3nKG-XgKZEsF4SWGejBbj4EIo&callback=myMap')

    script.
     $(document).ready(function () {
         $("#demo").on("hide.bs.collapse", function () {
             $("#readmore").html('更多服务<span class="glyphicon glyphicon-menu-down"></span>');
         });
         $("#demo").on("show.bs.collapse", function () {
             $("#readmore").html('隐藏<span class="glyphicon glyphicon-menu-up"></span>');
         });
     });

    script.
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a,.explore-more, footer a[href='#myPage']").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();
                    // Store hash
                    var hash = this.hash;
                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {
                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;
                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 800) {
                        $(this).addClass("slide");
                    }
                });
            });
        });