doctype html
html
  head
    link(rel='shortcut icon', href='/images/icon/favicon.ico', type='image/x-icon')
    title N2C Entertainment
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/responsive.css')
    meta(name="google-site-verification", content="6Tg0CG1XWUOJVacmCAiADzxpxkT5riOJ2DO1hIpsNX0")
    meta(name="google-site-verification", content="j-3olUvM9SsD-Py_0Hl9GMouJAJEwfRSlpTnrOljhsY")
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "InternetCafe",
      "name": "N2C Entertainment",
      "image": "http://www.n2c.net.au/images/dev1.png",
      "@id": "http://www.n2c.net.au",
      "url": "http://www.n2c.net.au",
      "telephone": "0388499126",
      "priceRange": "from $3",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "1 Main Street",
      "addressLocality": "Box Hill",
      "addressRegion": "VIC",
      "postalCode": "3128",
      "addressCountry": "AU"
      },
      "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
      },
      "sameAs": "https://www.facebook.com/n2centertainment/"
      }
  body
    .preloader
    block content
    footer.panel-footer
      // Footer Bottom
      .footer-bottom.text-center
        .container
          .clearfix
            .column.float-lg-left
              .footer-copyright © Copyright Haoyu Tech Pty Ltd
            // footer menu Column
            .float-lg-right
              ul.footer-menu
                li
                  a(href='https://goo.gl/RqYuzL') Rate us on Google
                |  |
                li
                  a(href='https://www.facebook.com/n2centertainment/') Like Facebook Page
                |  |
                li
                  a(href='images/icon/qrcode.jpg') 关注微信公众号

    script.
      function handlePreloader() {
        if($('.preloader').length){
          $('.preloader').delay(200).fadeOut(500);
      }
      }

      $(window).on('load', function () {
          handlePreloader();
      });