doctype html
html
  head
    link(rel='shortcut icon', href='/images/icon/favicon.ico', type='image/x-icon')
    title N2C Entertainment - Box Hill Internet Cafe, Mahjong, Boardgames, 网吧, 麻将, 桌游
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='keywords', content="网吧,internet cafe, game, 网咖, 麻将, mahjong, boardgames, 桌游")
    meta(name='description' content="N2C Entertainment is N2C entertainment, unlike a typical internet cafe, is providing a holistic forum for communication and entertainment through the medium of the Internet and other recreational facilities.")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css?v8.9')
    meta(name="google-site-verification", content="6Tg0CG1XWUOJVacmCAiADzxpxkT5riOJ2DO1hIpsNX0")
    meta(name="google-site-verification", content="j-3olUvM9SsD-Py_0Hl9GMouJAJEwfRSlpTnrOljhsY")
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "InternetCafe",
      "name": "N2C Entertainment",
      "image": "http://www.n2c.net.au/images/dev1.png",
      "@id": "http://www.n2c.net.au",
      "url": "http://www.n2c.net.au",
      "telephone": "0388499126",
      "priceRange": "from $3",
      "address": {
      "@type": "PostalAddress",
      "streetAddress": "1 Main Street",
      "addressLocality": "Box Hill",
      "addressRegion": "VIC",
      "postalCode": "3128",
      "addressCountry": "AU"
      },
      "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
      ],
      "opens": "00:00",
      "closes": "23:59"
      },
      "sameAs": "https://www.facebook.com/n2centertainment/"
      }
  body
    block content
    footer.panel-footer
      .row.text-center
        .col-sm-12
          h3 Partners
          br
        .col-sm-3
          img.daixie(src='/images/partners/mex2.png')
        .col-sm-3
          img.daixie(src='/images/partners/daixie.png')
        .col-sm-3
          img.daixie(src='/images/partners/nvidia.png')
        .col-sm-3
          img.daixie(src='/images/partners/budgetpc.png')
      // Footer Bottom
      .footer-bottom.text-center
        .container
          .clearfix
            .column.float-lg-left
              .footer-copyright © Copyright Haoyu Tech Pty Ltd
            // footer menu Column
            .float-lg-right
              ul.footer-menu
                li
                  a(href='https://goo.gl/RqYuzL') Rate us on Google
                |  |
                li
                  a(href='https://www.facebook.com/n2centertainment/') Like Facebook Page
                |  |
                li
                  a(href='images/icon/qrcode.jpg') 关注微信公众号
