extends layout

block content
    body#myService(data-spy='scroll', data-target='.navbar', data-offset='60')
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#myService') Our Service
                #myNavbar.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#game') 网吧游戏
                        li
                            a(href='#mahjong') 自动麻将
                        li
                            a(href='#boardgame') 桌游空间
                        li
                            a(href='#drinks') 小吃饮料
                        li
                            a(href='#PChardware') 电脑硬件
                        li
                            a(href='/') 回到主页


        #game.container-fluid
            .row
                .col-sm-4.col-xs-12
                    br
                    img.img-responsive(src='/images/service/game.JPG')
                .col-sm-8.col-xs-12
                    h2 网吧游戏
                    h3 Internet Gaming
                    br
                    h4
                        | Intel 酷睿7代CPU，英伟达GTX1070显卡，三星曲面显示器，可编程机械键盘和游戏鼠标确保你完美的游戏
                        | 体验；Steam, Uplay 等多种游戏平台，大型单机游戏，国内网游，海量游戏等你来玩!
                    p
                        | The Intel Core 7 Gen CPU, Nvidia GTX1070 Graphic Card, Samsumg Curved Monitor and programmable
                        | mechanical keyboard and gaming mouse ensure your perfect experience. We provide huge numbers
                        | of games pre-installed in our computers.

        #mahjong.container-fluid.bg-grey
            .row
                .col-sm-8
                    h2 自动麻将
                    h3 Automatic Mahjong
                    br
                    h4
                        | 最新型自动麻将机，过山车式出牌设计，静音洗牌。麻将包厢提供沙发和电视，可播放免费最新电影电视剧。
                    p
                        | We provide the newest automatic mahjong table with the newest design and anti-noise function
                        | is available. Comfortable sofa and HD television are provided with free movies and TV series.
                .col-sm-4
                    br
                    img.img-responsive(src='/images/service/mahjong.JPG')

        #boardgame.container-fluid
            .row
                .col-sm-4
                    br
                    img.img-responsive(src='/images/service/boardgame.jpg')
                .col-sm-8
                    h2 桌游空间
                    h3 Board Games
                    h4
                        | 狼人之夜狼人杀游戏是我们每周的招牌活动，这里不但有高颜值的帅哥美女，更有高手如云的狼王争霸。
                        | 但是如果你以为我们的桌游仅仅是狼人杀你就错了，我们这里有即时更新的剧本杀游戏，各种剧本步步惊心
                        | 环环相扣，为你倾情打造超高游戏体验！微信扫一扫预定：
                    img.img-responsive(src='/images/service/jcqr.jpg')
                    p
                        | We were wolves is our most popular game in our place. We have the most charming boys and girls
                        | and the most competitive players. Besides, we have a large number of  games for you to explore.


        //// Modal
        //#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        //    .modal-dialog.modal-dialog-centered(role='document')
        //        .modal-content
        //            .modal-header
        //                h5#exampleModalLabel.modal-title Book Now
        //                button.close(type='button', data-dismiss='modal', aria-label='Close')
        //                    span(aria-hidden='true') ×
        //            .modal-body
        //                iframe(src='https://docs.google.com/forms/d/e/1FAIpQLSfFLRVMD6w30-_G2mmyXt82_YYg_e7iogzY__i-kWd8IRiraw/viewform?embedded=true', width='100%', height='1400px', frameborder='0', scrolling='no', marginheight='0', marginwidth='0') Loading...


        #drinks.container-fluid.bg-grey
            .row
                .col-sm-8
                    h2 小吃饮料
                    h3 Snacks and Drinks
                    h4
                        | 我们提供各种美味小吃饮料供你挑选，特有国内零食和饮料，带你找回童年的感觉！
                    p
                        | We provide multiple choices of snacks and drinks, especially the Chinese flavour for your taste.
                .col-sm-4
                    br
                    img.img-responsive(src='/images/service/drinks.jpg')


        #PChardware.container-fluid
            .row
                .col-sm-4
                    br
                    img.img-responsive(src='/images/service/PChardware.jpg')
                .col-sm-8
                    h2 电脑定制
                    h3 Computer Hardware
                    br
                    h4
                        | 我们提供专业的电脑选配服务，帮您节省预算，配置您心仪的游戏电脑。
                    p
                        | We are professional in computer parts installation. We can offer you the cheapest price with the most
                        | excellent performance.


        script.
            $(document).ready(function () {
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myService']").on('click', function (event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();
                        // Store hash
                        var hash = this.hash;
                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function () {
                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });
                $(window).scroll(function () {
                    $(".slideanim").each(function () {
                        var pos = $(this).offset().top;
                        var winTop = $(window).scrollTop();
                        if (pos < winTop + 600) {
                            $(this).addClass("slide");
                        }
                    });
                });
            });