body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Open Sans', sans-serif,
  "Microsoft YaHei", "微软雅黑",
  STXihei, "华文细黑",
  serif;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

img {
  margin: auto;
}
.preloader{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:999999;
  background-color:#ffffff;
  background-position:center center;
  background-repeat:no-repeat;
  background-image:url(../images/icon/preloader.gif);
}


.jumbotron {
  background: #d5d5d5 url(../images/bg.jpg);
  color: #fff;
  padding: 100px 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #d7cec7;
}
.logo-small {
  color: #c09f80;
  font-size: 50px;
}
.logo {
  color: #c09f80;
  font-size: 300px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #c09f80;
}
.readmore.down, .readmore.up {
  background-image: none;
  color: #c09f80;
}

.carousel-indicators li {
  border-color: #c09f80;
}
.carousel-indicators li.active {
  background-color: #c09f80;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #c09f80;
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #c09f80;
  background-color: #d7cec7 !important;
  color: #c09f80;
}
.panel-heading {
  color: #fff !important;
  background-color: #c09f80 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-radius: 0;
}
.panel-footer {
  background-color: rgba(34,34,34,0.9)!important;
}
.panel-footer h3 {
  font-size: 32px;
  color: #ffffff;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #c09f80;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: rgba(34,34,34,0.9);
  z-index: 9999;
  border: 0;
  font-size: 14px !important;
  line-height: 1.42857143 !important;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
  font-family: 'Open Sans', sans-serif,
  "Microsoft YaHei", "微软雅黑",
  STXihei, "华文细黑",
  serif;

}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #000000 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.container{
  position:static;
  max-width:1200px;
  padding:0 15px;
  margin:0 auto;
}

.projects-block-one {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
}

.projects-block-one .inner-box {
  position: relative;
}

.overlay-style-one .link {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  z-index: 5;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #fff;
  top: -100%;
  transition: .5s ease;
}

.projects-block-one .inner-box:hover .link {
  top: 0;
  transition: .5s ease;
}

.overlay-style-one .link a {
  color: #fff;
  font-size: 20px;
  text-decoration: none !important;
}


/* overlay style tow */
.overlay-style-two .link {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  z-index: 5;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  color: #fff;
  top: -100%;
  transition: .5s ease;
}

.projects-block-one .inner-box:hover .link {
  top: 0;
  transition: .5s ease;
}

.overlay-style-two .link a h4{
  color: #fff;
  font-size: 20px;
}

.footer-column-border {
  position: relative;
}

.footer-column-border:before {
  position: absolute;
  content: '';
  left: 15px;
  right: 0;
  top: 65px;
  height: 1px;
  background: #2c2c2c;
}

.footer-title {
  position: relative;
  color: #fff;
  margin-bottom: 70px;
  font-size: 22px;
}

/*footer about*/
.footer-about {
  position: relative;
  margin-bottom: 30px;
}

.footer-about .footer-logo {
  margin-bottom: 70px;
}

.footer-about .text {
  margin-bottom: 40px;
}

/* footer link */
.footer-link {
  position: relative;
}

.footer-link ul li a {
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
  color: #848484;
  transition: .3s ease;
}

.footer-link ul li a:hover {
  color: #fff;
}

.footer-link ul li a i {
  margin-right: 10px;
}

/*footer bottom*/

.footer-bottom {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
}

.footer-bottom .footer-copyright a {
  color: #fff;
}

.footer-bottom .footer-menu li {
  display: inline-block;
}

.footer-bottom .footer-menu li a {
  color: #848484;
  font-family: 'Poppins', sans-serif;
}

/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
  content: "\e080";
}

.explore-more{
    color: #FFFFFF;
    text-decoration: none !important;
}
.explore-more p,img:hover{
  color: gold;
  font-size: 40px;
}


.storeview{width:100%;height:450px;margin:60px auto;position:relative;}
.storeview img{position:absolute;padding:10px 10px 15px;background:#fff;border:1px solid #ddd;-webkit-transition:0.5s ;-moz-transition:0.5s ;transition:0.5s ;z-index:1;}
.storeview img:hover{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);transform:scale(1.2);-webkit-box-shadow:5px 5px 5px #ddd;-moz-box-shadow:5px 5px 5px #ddd;box-shadow:5px 5px 5px #ddd;z-index:2;cursor:pointer;}
.pic1{top:0;left:40%;-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);transform:rotate(-5deg);}
.pic2{top:0;left:60%;-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);transform:rotate(-20deg);}
.pic3{bottom:0;right:0;-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);transform:rotate(5deg);}
.pic4{bottom:0;left:30%;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}
.pic5{bottom:0;left:0;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}
.pic6{top:0;left:0;-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);transform:rotate(10deg);}
.pic7{top:0;left:85%;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);transform:rotate(20deg);}
.pic8{bottom:0;right:63%;-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);transform:rotate(5deg);}
.pic9{top:10%;left:55%;-webkit-transform:rotate(15deg);-moz-transform:rotate(15deg);transform:rotate(15deg);}
.pic10{left:18%;top:2%;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}

.pricepanel {
  padding: 0 40px 0 40px;
}

.table th,td {
  text-align: right;
}

.slideanim {visibility:hidden;}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

.modal-dialog {
  height: 1500px;
}

.modal-content {
  height: 100%;
  margin-top: 15%;
}

.modal-body{
  height: 100%;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  .storeview{width:100%;height:fit-content;margin:60px auto;position:relative;}
  .storeview img{position:relative;padding:10px 10px 15px;background:#fff;border:1px solid #ddd;-webkit-transition:0.5s ;-moz-transition:0.5s ;transition:0.5s ;z-index:1;}
  .pic1{top:0;left:0;-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);transform:rotate(-5deg);}
  .pic2{top:0;left:0;-webkit-transform:rotate(-20deg);-moz-transform:rotate(-20deg);transform:rotate(-20deg);}
  .pic3{bottom:0;right:0;-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);transform:rotate(5deg);}
  .pic4{bottom:0;left:0;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}
  .pic5{bottom:0;left:0;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}
  .pic6{top:0;left:0;-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);transform:rotate(10deg);}
  .pic7{top:0;left:0;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);transform:rotate(20deg);}
  .pic8{bottom:0;right:0;-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);transform:rotate(5deg);}
  .pic9{top:0;left:0;-webkit-transform:rotate(15deg);-moz-transform:rotate(15deg);transform:rotate(15deg);}
  .pic10{left:0;top:0;-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);transform:rotate(-10deg);}

}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
  .pricepanel {
    padding: 0;
  }
}

@media screen and (min-width: 960px) {
  .storeview {width:960px;}
}